@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  overflow: hidden;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  width: 100%;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  text-decoration: inherit;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  max-width: 100%;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Quella";
  src: url("/assets/fonts/quella-owyda.otf");
}
@font-face {
  font-family: "Galano";
  src: url("/assets/fonts/GalanoGrotesqueAlt-Regular.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}
body header {
  font-size: 14.78px;
  width: 100%;
}
body header nav {
  width: 100%;
}
body header nav .top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #f5f5f5;
  background-color: #1e1e1e;
  height: 48px;
}
body header nav .top-nav span:last-child {
  margin-left: 10px;
}
body header nav .mid-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 6rem;
  height: 56px;
}
body header nav .mid-nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
body header nav .mid-nav .logo span {
  font-size: 28px;
  font-family: "Quella", sans-serif;
}
body header nav .mid-nav .logo label {
  position: relative;
}
body header nav .mid-nav .logo label input {
  height: 38px;
  width: 530px;
  background: #f5f5f5;
  border: none;
  padding-left: 20px;
  border-radius: 7px;
  outline: none;
}
body header nav .mid-nav .logo label input:focus {
  outline: 1px solid rgba(128, 128, 128, 0.7411764706);
}
body header nav .mid-nav .logo label input::-moz-placeholder {
  font-size: 12px;
}
body header nav .mid-nav .logo label input::placeholder {
  font-size: 12px;
}
body header nav .mid-nav .logo label i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.7411764706);
}
body header nav .mid-nav select {
  border: 1px solid #fff;
  background-color: transparent;
  color: #1e1e1e;
}
body header nav .main-nav {
  border-top: 1px solid rgba(128, 128, 128, 0.7411764706);
  border-bottom: 1px solid rgba(128, 128, 128, 0.7411764706);
  padding: 5px 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav .main-nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
body header nav .main-nav .left span {
  font-weight: 700;
  font-size: 25px;
}
body header nav .main-nav .left ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
body header nav .main-nav .left ul li {
  transition: all 0.3s ease-in;
}
body header nav .main-nav .left ul li:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
body header nav .main-nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
body header nav .main-nav .nav-icons .icons i {
  font-size: 20px;
  margin-left: 15px;
}
body header .hero-sect {
  padding: 5px 7rem;
  color: #fafafa;
  margin-top: 60px;
  position: relative;
}
body header .hero-sect .hero-sect-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 4px;
  position: relative;
}
body header .hero-sect .hero-sect-container .hero-sect-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: 55%;
  margin-left: 5rem;
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-head2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 22.23px;
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-h1 h1 {
  font-family: "Inter", sans-serif;
  font-size: 66px;
  font-weight: 600;
  word-wrap: break-word;
  width: 400px;
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-para {
  font-family: "Poppins", sans-serif;
  font-size: 22.23px;
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-para .hero-sect-para-span:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
body header .hero-sect .hero-sect-container .hero-sect-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: 50%;
  gap: 1rem;
  transform: translate(-50%, -50%);
}
body header .hero-sect .hero-sect-container .hero-sect-toggle div {
  width: 16.67px;
  height: 16.67px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  cursor: pointer;
}
body header .hero-sect .hero-sect-container .hero-sect-toggle .toggled {
  opacity: 1;
  background-color: #5ac0c0;
  width: 15px;
  height: 15px;
  border: 2.77907px solid #ffffff;
}
body main section {
  max-width: 100vw;
  width: 100%;
  margin-top: 90px;
}
body main section .sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: auto;
}
body main section .sponsors div {
  width: 197.58px;
  height: 111.57px;
  background: #fdfffe;
  box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
  border-radius: 18.5958px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section {
  margin-top: 90px;
}/*# sourceMappingURL=style.css.map */