@import "./components/colors";
@import "./components/mediaqueries";
@import "./components/mixins";
@import "./components/reset";
@import "./components/typography";

body {
  font-family: "Poppins", sans-serif;
  background: #fcfcfc;

  header {
    font-size: $shoppy-body-text;
    width: 100%;
    margin-bottom: 90px;

    @include respond(medium) {
      margin-bottom: 60px;
    }

    @include respond(small) {
      margin-bottom: 60px;
    }

    nav {
      width: 100%;

      .top-nav {
        @include ko-flex-norm;
        font-size: 14px;
        color: $shoppy-off-white;
        background-color: $shoppy-dark-btn;
        height: 48px;

        @include respond(small) {
          font-size: 11px;
          text-align: center;
          border-bottom: $shoppy-off-white 1px solid;
        }

        span:last-child {
          margin-left: 10px;

          @include respond(small) {
            display: none;
          }
        }
      }

      .mid-nav {
        @include ko-flex-sb;
        @include ko-container;

        @include respond(large) {
          @include k-container-md;
        }

        @include respond(medium) {
          @include k-container-md;
        }

        @include respond(small) {
          @include k-container-sm;
        }

        height: 56px;

        .logo {
          @include ko-flex-norm;
          gap: 5rem;

          @include respond(medium) {
            gap: 3rem;
          }

          @include respond(small) {
            position: relative;
            gap: 1rem;
          }

          .menu {
            display: none;

            @include respond(small) {
              display: block;
              font-size: 24px;
            }

            @include respond(medium) {
              display: block;
              font-size: 36px;
            }
          }

          span {
            font-size: $shoppy-logo;
            font-family: $shoppy-logo-family;

            @include respond(small) {
              font-size: 24px;
            }
          }

          label {
            position: relative;

            @include respond(small) {
              position: absolute;
              top: 6rem;
              left: -1rem;
              padding-bottom: 1rem;
              border-bottom: 1px solid #808080bd;
              width: 100vw;
            }

            input {
              height: 38px;
              width: 530px;
              background: $shoppy-off-white;
              border: none;
              padding-left: 20px;
              border-radius: 7px;
              outline: none;

              @include respond(medium) {
                width: 300px;
              }

              &:focus {
                outline: 1px solid #808080bd;
              }

              &::placeholder {
                font-size: 12px;
              }

              @include respond(small) {
                width: calc(100vw - 2rem);
              }
            }

            i {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 20px;
              color: #808080bd;
            }
          }
        }
        select {
          border: 1px solid #fff;
          background-color: transparent;
          color: $shoppy-dark-btn;
        }
      }

      .main-nav {
        border-top: 1px solid #808080bd;
        border-bottom: 1px solid #808080bd;
        @include ko-container;
        @include ko-flex-sb;

        @include respond(large) {
          @include k-container-md;
        }

        @include respond(medium) {
          @include k-container-md;
        }

        @include respond(small) {
          @include k-container-sm;
        }

        .left {
          @include ko-flex-sb;
          gap: 5rem;

          span {
            font-weight: 700;
            font-size: 25px;
          }

          ul {
            @include ko-flex-norm;
            gap: 2rem;

            @include respond(medium) {
              display: none;
            }

            @include respond(small) {
              display: none;
            }

            li {
              transition: all 0.3s ease-in;

              &:hover {
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }
        }

        .nav-icons {
          @include ko-flex-norm;
          gap: 2rem;

          span {
            @include respond(medium) {
              display: none;
            }

            @include respond(small) {
              display: none;
            }
          }

          .icons {
            @include respond(small) {
              display: flex;
            }
            i {
              font-size: 20px;
              margin-left: 15px;
            }
          }
        }
      }
    }

    .hero-sect {
      @include k-container;
      color: $shoppy-hero-ft-txt;
      margin-top: 60px;
      position: relative;

      @include respond(large) {
        @include k-container-md;
      }

      @include respond(medium) {
        @include k-container-md;
      }

      @include respond(small) {
        @include k-container-sm;
        padding-top: 50px;
      }

      .hero-sect-container {
        @include ko-flex-sb;
        background-color: $shoppy-hero-ft-bg;
        border-radius: 4px;
        position: relative;

        @include respond(small) {
          flex-direction: column;
          gap: 2rem;
        }

        .hero-sect-text {
          @include ko-flex-sb;
          flex-direction: column;
          align-items: start;
          width: 55%;
          margin-left: 5rem;

          @include respond(small) {
            margin-left: 0rem;
            width: 100%;
            align-items: center;
          }

          .hero-sect-head2 {
            @include ko-flex-sb;
            gap: 2rem;
            font-family: $shoppy-item-ffamily;
            font-size: $shoppy-hero-sm;

            @include respond(medium) {
              font-size: 20px;
            }

            @include respond(small) {
              font-size: 20px;
            }
          }

          .hero-sect-h1 {
            h1 {
              font-family: $shoppy-heading-family;
              font-size: $shoppy-heading;
              font-weight: 600;
              word-wrap: break-word;
              width: 400px;

              @include respond(medium) {
                font-size: 30px;
                width: 80%;
              }

              @include respond(small) {
                font-size: 24px;
                word-wrap: none;
                width: auto;
              }
            }
          }

          .hero-sect-para {
            font-family: $shoppy-item-ffamily;
            font-size: $shoppy-hero-sm;
            @include ko-flex-norm;

            .hero-sect-para-span {
              &:hover {
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }
        }

        .hero-sect-toggle {
          position: absolute;
          @include ko-flex-norm;
          bottom: 30px;
          left: 50%;
          gap: 1rem;
          transform: translate(-50%, -50%);

          div {
            width: 16.67px;
            height: 16.67px;
            border-radius: 50%;
            background: #fff;
            opacity: 0.5;
            cursor: pointer;
          }

          .toggled {
            opacity: 1;
            background-color: #5ac0c0;
            width: 15px;
            height: 15px;
            border: 2.77907px solid #ffffff;
          }
        }
      }
    }
  }

  main {
    .sect-one {
      width: 100%;
      height: 100%;

      @include respond(small) {
        padding-top: 1rem;
        padding-bottom: 7rem;
      }

      .sponsors-container {
        position: relative;
        width: 100%;
        padding-top: 90px;
        height: 100px;

        @include respond(small) {
          @include k-container-sm;
          padding-top: 0px;
          width: 90%;
          margin: auto;
        }

        .sponsors {
          @include ko-flex-norm;
          gap: 5rem;
          position: absolute;
          bottom: -90px;
          left: 50vw;
          transform: translate(-50%, -50%);
          width: auto;

          @include respond(small) {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 1rem;
            transform: none;
            left: 0rem;
            bottom: 0rem;
            padding-right: 0px;
            justify-content: space-around;
            width: 85%;
            margin: auto;
          }

          div {
            width: 197.58px;
            height: 111.57px;
            background: #fdfffe;
            box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
            border-radius: 18.5958px;
            position: relative;
            @include ko-flex-norm;

            @include respond(small) {
            }
          }
        }
      }
    }

    .sect-two {
      padding-top: 90px;

      @include respond(medium) {
        padding-top: 30px;
      }

      @include respond(small) {
        padding-top: 90px;
        margin-top: 3rem;
        padding-bottom: 2rem;
      }
      .explore {
        padding-top: 90px;
        margin-top: 90px;
        @include k-container;
        font-family: $shoppy-body-family;
        font-weight: 500;
        font-size: 2rem;

        @include respond(large) {
          @include k-container-md;
        }

        @include respond(medium) {
          @include k-container-md;
        }

        @include respond(small) {
          @include k-container-sm;
          font-size: 20px;
        }

        .explore-head {
          @include ko-flex-sb;
          margin-bottom: 3rem;
          h2 {
            font-size: $shoppy-section-heading;
            font-family: $shoppy-section-heading-family;
            font-weight: 700;
            color: $shoppy-dark-btn;

            @include respond(small) {
              font-size: 28px;
            }
          }

          span {
            font-family: $shoppy-section-heading-family;
            font-size: 21px;
            font-weight: 500;
            color: #5ac0c0;

            @include respond(small) {
              font-size: 18px;
            }
          }
        }

        .explore-img-sect {
          @include ko-flex-sb;
          flex-direction: column;
          gap: 2rem;
          color: $shoppy-white;

          @include respond(medium) {
            gap: 1rem;
          }

          @include respond(small) {
            gap: 2rem;
          }

          .explore-img-sect-up {
            width: 100%;
            display: grid;
            grid-template-columns: 34% 64%;
            align-items: center;
            justify-content: space-between;

            @include respond(medium) {
              grid-template-columns: repeat(2, 1fr);
              gap: 1rem;
            }

            @include respond(small) {
              grid-template-columns: 100%;
              grid-template-rows: 50% 50%;
              gap: 1rem;
              justify-content: center;
            }

            .explore-img-sect-fashion {
              background-image: url(/assets/images/short-trousers.png);
              @include k-exp-container;

              @include respond(small) {
                @include k-exp-container-sm;
                background-size: cover;
                background-position: center;
              }

              p {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
              }
            }

            .explore-img-sect-electronics {
              background-image: url(/assets/images/table-gadgets.png);
              @include k-exp-container;

              @include respond(medium) {
                background-size: cover;
                background-position-x: -90px;
              }

              @include respond(small) {
                @include k-exp-container-sm;
                background-size: cover;
                background-position: center;
              }

              p {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
              }
            }
          }

          .explore-img-sect-down {
            width: 100%;
            display: grid;
            grid-template-columns: 64% 34%;
            align-items: center;
            justify-content: space-between;
            height: 427px;

            @include respond(medium) {
              grid-template-columns: repeat(2, 1fr);
              gap: 1rem;
            }

            @include respond(small) {
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: repeat(2, 1fr);
              gap: 1rem;
            }

            .explore-img-sect-shops {
              background-image: url(/assets/images/shops.png);
              @include k-exp-container;

              @include respond(small) {
                @include k-exp-container-sm;
                background-size: cover;
                background-position: center;
              }

              p {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
              }
            }

            .explore-img-sect-furniture {
              background-image: url(/assets/images/ante-room.png);
              @include k-exp-container;

              @include respond(small) {
                @include k-exp-container-sm;
                background-size: cover;
                background-position: center;
              }

              p {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
              }
            }
          }
        }
      }
    }

    .sect-three {
      padding-top: 6rem;
      color: $shoppy-dark-btn;
      .sect-three-container {
        @include k-container;
        display: flex;
        gap: 40px;

        @include respond(large) {
          @include k-container-md;
          flex-direction: column;
          text-align: center;
        }

        @include respond(medium) {
          @include k-container-md;
          flex-direction: column;
          text-align: center;
        }

        @include respond(small) {
          flex-direction: column;
          @include k-container-sm;
          text-align: center;
        }

        font-family: $shoppy-body-family;
        .sect-three-head {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @include respond(large) {
            @include ko-flex-norm;
          }

          @include respond(medium) {
            @include ko-flex-norm;
          }

          @include respond(small) {
            @include ko-flex-norm;
          }

          h3 {
            margin-top: 0px;
            font-size: 31.67px;
          }

          p {
            margin-top: 0px;
            color: rgba(30, 30, 30, 0.5);
            font-weight: 500;
            font-size: 17.8128px;
            line-height: 27px;
            width: 50%;

            @include respond(larger) {
              width: 100%;
            }

            @include respond(medium) {
              width: 100%;
            }

            @include respond(small) {
              width: 100%;
            }
          }

          button {
            width: 167.15px;
            height: 50.75px;
            background: #c1dcdc;
            border-radius: 7.9168px;
            border: none;
            border-radius: 7px;
            @include ko-flex-norm;
            gap: 0.8rem;
          }
        }

        .sect-three-img {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 278px);
          justify-content: space-between;
          gap: 2rem;

          @include respond(medium) {
            grid-template-columns: repeat(2, 278px);
            gap: 1rem;
            padding: 0px 4rem;
          }

          @include respond(small) {
            grid-template-columns: 100%;
            align-items: center;
            @include ko-flex-norm;
            width: 100%;
          }

          .sect-three-img-pt1 {
            @include respond(small) {
              text-align: center;
              margin-left: 1rem;
              margin: auto;
            }
            .sect-three-img1 {
              background-image: url(/assets/images/male-trouser.png);
              @include k-bg-img;

              .side-btn {
                @include k-img-btn;
                left: -24px;
              }

              .hidden-btn {
                @include k-img-btn;
                right: -24px;
                display: none;

                @include respond(small) {
                  display: block;
                }
              }
            }

            p {
              @include k-p-bold;
              margin: 10px 0px;
            }

            .current-price {
              @include k-cur-span-all;
            }

            .old-price {
              @include k-cur-span-all;
              @include k-cur-span-cancel;
            }

            .discount {
              @include k-cur-span-all;
              @include k-cur-span-off;
            }
          }

          .sect-three-img-pt2 {
            @include respond(medium) {
              display: none;
            }

            @include respond(small) {
              display: none;
            }

            .sect-three-img2 {
              background-image: url(/assets/images/girl-yale.png);
              @include k-bg-img;
            }

            p {
              @include k-p-bold;
              margin: 10px 0px;
            }

            .current-price {
              @include k-cur-span-all;
            }

            .old-price {
              @include k-cur-span-all;
              @include k-cur-span-cancel;
            }

            .discount {
              @include k-cur-span-all;
              @include k-cur-span-off;
            }
          }

          .sect-three-img-pt3 {
            @include respond(small) {
              display: none;
            }
            .sect-three-img3 {
              background-image: url(/assets/images/girl-shorts.png);
              @include k-bg-img;

              button {
                @include k-img-btn;
                right: -24px;
              }
            }

            p {
              @include k-p-bold;
              margin: 10px 0px;
            }

            .current-price {
              @include k-cur-span-all;
            }

            .old-price {
              @include k-cur-span-all;
              @include k-cur-span-cancel;
            }

            .discount {
              @include k-cur-span-all;
              @include k-cur-span-off;
            }
          }
        }
      }
    }

    .sect-four {
      margin-top: 9rem;
      position: relative;

      @include k-container;

      @include respond(large) {
        @include k-container-md;
      }

      @include respond(medium) {
        @include k-container-md;
      }

      @include respond(small) {
        @include k-container-sm;
      }

      .sect-four-container {
        width: 100%;
        position: relative;

        .slanted-bg {
          @include ko-flex-sb;
          width: 100%;
          height: 126px;
          background: linear-gradient(70deg, #c1dcdc 50%, #02a0a0 50%);
          background-size: 130% 100%;
          border-radius: 8.4px;

          @include respond(small) {
            position: relative;
            background: linear-gradient(-185deg, #c1dcdc 50%, #02a0a0 50%);
            background-size: 100% 120%;
            flex-direction: column;
            height: 200px;
            @include ko-flex-norm;
            gap: 2rem;
          }

          div {
            padding: 0px 2rem;
            padding-bottom: 0px;

            @include respond(small) {
              padding: 0.5rem;
              text-align: center;
            }

            h3 {
              font-size: 25.2px;
              color: #212121;
              margin-bottom: 2.7px;
              font-family: $shoppy-CTA-family;
            }

            p {
              font-size: 16.8px;
              color: #212121;
              opacity: 0.7;
              font-family: $shoppy-CTA-family;
            }
          }

          div {
            button {
              color: $shoppy-white;
              background-color: $shoppy-dark-btn;
              width: 127.05px;
              height: 42px;
              border: none;
              border-radius: 6.3px;
              font-family: $shoppy-CTA-family;
            }
          }
        }
      }
    }

    .sect-five {
      margin-top: 7rem;

      .sect-five-container {
        @include k-container;
        padding: 0rem 7rem;

        @include respond(large) {
          @include k-container-md;
        }

        @include respond(medium) {
          @include k-container-md;
        }

        @include respond(small) {
          @include k-container-sm;
          padding-bottom: 16rem;
        }

        .sect-five-head-sm {
          display: flex;
          align-items: center;
          gap: 1rem;

          .sect-five-head-sm-bar {
            width: 20px;
            height: 40px;
            border-radius: 4px;
            background-color: $shoppy-teal-blue;
          }

          .sect-five-head-sm-txt {
            font-size: 1rem;
            color: $shoppy-teal-blue;
            font-weight: 600;
            font-family: $shoppy-body-family;
          }
        }

        .sect-five-head-lg {
          color: #000;
          font-weight: 600;
          font-size: 36px;
          font-family: $shoppy-CTA-family;
          margin-top: 20px;
          margin-bottom: 60px;
        }

        .sect-five-gallery {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
          height: 600px;

          @include respond(large) {
            gap: 1rem;
            height: 450px;
          }

          @include respond(medium) {
            gap: 1rem;
            height: 400px;
          }

          @include respond(small) {
            grid-template-columns: 100%;
            display: flex;
            flex-direction: column;
            height: 600px;
            gap: 1rem;
          }

          .sect-five-gal-one {
            @include k-bg-img2;
            background: #000000;
            border-radius: 4px;
            padding: 70px 30px 0px 30px;

            .sect-five-ps5 {
              background-image: url(/assets/images/ps-5.png);
              background-repeat: no-repeat;
              background-size: contain;
              height: 100%;
              background-position: center;
              color: $shoppy-hero-ft-txt;
              position: relative;

              @include respond(small) {
                height: 200px;
              }

              div {
                position: absolute;
                bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include respond(medium) {
                  left: 0rem;
                  bottom: 1rem;
                }

                h3 {
                  font-weight: 600;
                  font-size: 24px;
                  font-family: $shoppy-CTA-family;
                }

                p {
                  font-family: $shoppy-body-family;
                  font-size: 14px;
                  width: 70%;
                }

                span {
                  font-weight: 500;
                  font-size: 16px;
                  font-family: $shoppy-body-family;
                  color: $shoppy-white;
                  &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .sect-five-gal-two {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;

            @include respond(large) {
              gap: 1rem;
            }

            @include respond(medium) {
              gap: 1rem;
            }

            @include respond(small) {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }

            .sect-five-gal-two-up {
              background: #0d0d0d;
              color: $shoppy-hero-ft-txt;
              height: 100%;
              position: relative;
              border-radius: 4px;

              @include respond(small) {
                height: 200px;
                padding-right: 0px;
              }

              .sect-five-lady-in-hat {
                background-image: url(/assets/images/woman-wearing-hat.png);
                width: 70%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 10px;

                @include respond(medium) {
                  background-position-y: bottom;
                }

                @include respond(small) {
                  height: 200px;
                  background-position: right;
                  background-position-y: bottom;
                }
              }

              .sect-five-wm-collection {
                position: absolute;
                left: 24px;
                bottom: 24px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include respond(medium) {
                  left: 1rem;
                  bottom: 1rem;
                }

                h3 {
                  font-weight: 600;
                  font-size: 24px;
                  font-family: $shoppy-CTA-family;
                }

                p {
                  font-family: $shoppy-body-family;
                  font-size: 14px;
                  width: 70%;
                }

                span {
                  font-weight: 500;
                  font-size: 16px;
                  font-family: $shoppy-body-family;
                  color: $shoppy-white;
                  &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
            }

            .sect-five-gal-two-dw {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 30px;

              @include respond(large) {
                gap: 1rem;
              }

              @include respond(medium) {
                gap: 1rem;
              }

              @include respond(small) {
                display: flex;
                flex-direction: column;
                gap: 1rem;
              }

              .sect-five-gal-btm-one {
                background: #1e1e1e;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;

                .sect-five-speaker-txt {
                  position: absolute;
                  color: $shoppy-hero-ft-txt;
                  bottom: 24px;
                  left: 24px;
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;

                  @include respond(medium) {
                    left: 1rem;
                    bottom: 1rem;
                  }

                  h3 {
                    font-weight: 600;
                    font-size: 24px;
                    font-family: $shoppy-CTA-family;
                  }

                  p {
                    font-family: $shoppy-body-family;
                    font-size: 14px;
                    width: 100%;
                  }

                  span {
                    font-weight: 500;
                    font-size: 16px;
                    font-family: $shoppy-body-family;
                    color: $shoppy-white;
                    &:hover {
                      text-decoration: underline;
                      cursor: pointer;
                    }
                  }
                }

                .sect-five-speaker-png {
                  background-image: url(assets/images/speakers.png);
                  width: calc(100% - 80px);
                  height: calc(100% - 2rem);
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;

                  @include respond(small) {
                    height: 200px;
                  }
                }
              }

              .sect-five-gal-btm-two {
                background: #1e1e1e;
                padding: 35px;
                border-radius: 4px;

                .sect-five-perfume-png {
                  background-image: url(assets/images/perfume.png);
                  width: 100%;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;

                  @include respond(small) {
                    height: 150px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sect-six {
      margin-top: 9rem;
      margin-bottom: 9rem;
      @include k-container;

      @include respond(large) {
        @include k-container-md;
      }

      @include respond(medium) {
        @include k-container-md;
      }

      @include respond(small) {
        @include k-container-sm;
      }

      .sect-six-container {
        border: #dee2e7 1px solid;
        border-radius: 6px;
        background: $shoppy-white;
        padding: 21px;
        .sect-six-head {
          font-family: $shoppy-CTA-family;
          font-weight: 600;
          font-size: 21.0169px;
          margin-bottom: 1rem;
        }

        .sect-six-devices {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1rem;

          @include respond(medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }

          @include respond(small) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 1fr);
            gap: 2rem;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 0.9rem;
            .ipad {
              @include k-bg-img3;
              border-radius: 8px;
            }

            div {
              h3 {
                font-weight: 600;
                font-size: 18.9153px;
                font-family: $shoppy-body-family;
                color: #1c1c1c;
              }

              p {
                font-weight: 400;
                font-size: 16.8136px;
                color: #606060;
                font-family: $shoppy-body-family;
                width: 70%;
              }

              button {
                background: #ffffff;
                border: 1px solid #dee2e7;
                border-radius: 6px;
                width: 164.7px;
                height: 44.19px;
                color: #2283dc;
                transition: 0.3s;
                font-weight: 500;
                font-size: 16.8136px;
                font-family: $shoppy-CTA-family;
                @include ko-flex-norm;
                gap: 0.9rem;

                cursor: pointer;
                &:hover {
                  background: #eeeeee;
                }

                i {
                  font-size: 24px;
                }
              }
            }
          }

          div {
            .iphone {
              @include k-bg-img3;
              border-radius: 8px;
            }
          }

          div {
            .iwatch {
              @include k-bg-img3;
              border-radius: 8px;
            }
          }

          div {
            .macbook {
              @include k-bg-img3;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

  footer {
    background: $shoppy-hero-ft-bg;
    color: $shoppy-hero-ft-txt;

    .ft-container {
      padding-top: 4rem;
      padding-bottom: 2.5rem;
      font-family: $shoppy-hero-ft-txt;

      .ft-sect-one {
        @include ko-flex-sb;
        @include k-container;
        border-bottom: 1px solid #ffffff66;
        padding-bottom: 45px;

        @include respond(large) {
          @include k-container-md;
          padding-bottom: 45px;
        }

        @include respond(medium) {
          @include k-container-md;
          padding-bottom: 45px;
          align-items: start;
          flex-direction: column;
          justify-content: center;
          gap: 2rem;
        }

        @include respond(small) {
          align-items: start;
          @include k-container-sm;
          flex-direction: column;
          justify-content: center;
        }

        .ft-sect-one-pt1 {
          @include ko-flex-sb;
          gap: 24px;

          @include respond(medium) {
            @include ko-flex-norm;
            gap: 1rem;
          }

          @include respond(small) {
            @include ko-flex-norm;
            gap: 1rem;
          }

          .ft-sect-one-pt1-txt {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @include respond(medium) {
              gap: 0px;
            }

            @include respond(small) {
              gap: 0px;
            }

            h3 {
              font-family: "Nunito", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;

              @include respond(small) {
                font-size: 16;
              }
            }

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;

              @include respond(small) {
                font-size: 14px;
              }
            }
          }
        }

        .ft-sect-one-pt2 {
          @include ko-flex-sb;
          gap: 24px;

          @include respond(medium) {
            @include ko-flex-norm;
            gap: 1rem;
          }

          @include respond(small) {
            @include ko-flex-norm;
            gap: 1rem;
          }

          .ft-sect-one-pt2-txt {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @include respond(small) {
              gap: 0px;
            }
            h3 {
              font-family: "Nunito", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;

              @include respond(small) {
                font-size: 16px;
              }
            }

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;

              @include respond(small) {
                font-size: 14px;
              }
            }
          }
        }
      }

      .ft-sect-two {
        display: flex;
        justify-content: space-between;
        @include k-container;
        border-bottom: 1px solid #ffffff66;
        padding-bottom: 60px;

        @include respond(large) {
          @include k-container-md;
          padding-bottom: 70px;
          gap: 1rem;
        }

        @include respond(medium) {
          @include k-container-md;
          padding-bottom: 100px;
          position: relative;
          gap: 1rem;
        }

        @include respond(small) {
          @include k-container-sm;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          gap: 0px;
          position: relative;
          padding-bottom: 100px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 4rem;

          @include respond(small) {
            margin-bottom: 60px;
          }

          @include respond(medium) {
            margin-bottom: 60px;
          }

          li {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }

          .ft-sec-head {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 1rem;
          }

          .ft-social-links-icon {
            font-size: 30px;
            font-weight: 200;
            display: flex;
            gap: 2rem;
          }

          .ft-for-mobile {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            @include respond(medium) {
              display: none;
            }

            @include respond(small) {
              display: none;
            }

            div {
              display: flex;
              flex-direction: column;
              gap: 0.75rem;
            }
          }
        }

        .ft-contact {
          @include respond(medium) {
            @include k-container-md;
            position: absolute;
            bottom: -60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            right: 0vw;
            text-align: center;
          }

          .ft-sec-head {
            @include respond(medium) {
              display: none;
            }

            @include respond(small) {
              display: none;
            }
          }

          @include respond(small) {
            position: absolute;
            bottom: -60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            right: 0vw;
            text-align: center;
          }
        }
      }

      .ft-sect-three {
        margin-top: 30px;
        @include ko-flex-sb;
        @include k-container;

        @include respond(large) {
          @include k-container-md;
        }

        @include respond(medium) {
          @include k-container-md;
        }

        @include respond(small) {
          @include k-container-sm;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
        }

        .ft-pay-opt {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include respond(small) {
            justify-content: center;
            align-items: center;
          }

          h4 {
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #cfcfcf;
          }

          div {
            display: flex;
            gap: 20px;
          }
        }

        .ft-copyright {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #cfcfcf;

          @include respond(small) {
            text-align: center;
            font-size: 14px;
            position: relative;
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }

  .dropdown-button {
    background-color: #f9f9f9;
    border: none;
    color: #1e1e1e;
    padding: 2px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #1e1e1e;

    list-style-type: none;
    padding: 0;
    z-index: 9999;
    border-radius: 4px;
    width: calc(100vw - 2rem);

    @include respond(medium) {
      width: calc(100vw - 4rem);
    }

    @include respond(small) {
      width: calc(100vw - 2rem);
    }

    li {
      padding: 10px;
      color: #f9f9f9;
      transition: all 0.3s ease-in;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }

      a {
        color: #f9f9f9;
        text-decoration: none;
      }
    }
  }
}
