@import "./components/colors";
@import "./components/mediaqueries";
@import "./components/mixins";
@import "./components/reset";
@import "./components/typography";

body {
  font-family: "Poppins", sans-serif;
  background: $shoppy-off-white;

  header {
    font-size: $shoppy-body-text;
    width: 100%;

    nav {
      width: 100%;

      .top-nav {
        @include jd-flex-norm;
        font-size: 14px;
        color: $shoppy-off-white;
        background-color: $shoppy-dark-btn;
        height: 48px;

        span:last-child {
          margin-left: 10px;
        }
      }

      .mid-nav {
        @include jd-flex-sb;
        @include jd-container;
        height: 56px;

        .logo {
          @include jd-flex-norm;
          gap: 5rem;

          span {
            font-size: $shoppy-logo;
            font-family: $shoppy-logo-family;
          }

          label {
            position: relative;

            input {
              height: 38px;
              width: 530px;
              background: $shoppy-off-white;
              border: none;
              padding-left: 20px;
              border-radius: 7px;
              outline: none;

              &:focus {
                outline: 1px solid #808080bd;
              }

              &::placeholder {
                font-size: 12px;
              }
            }

            i {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 20px;
              color: #808080bd;
            }
          }
        }
        select {
          border: 1px solid #fff;
          background-color: transparent;
          color: $shoppy-dark-btn;
        }
      }

      .main-nav {
        border-top: 1px solid #808080bd;
        border-bottom: 1px solid #808080bd;
        @include jd-container;
        @include jd-flex-sb;

        .left {
          @include jd-flex-sb;
          gap: 5rem;

          span {
            font-weight: 700;
            font-size: 25px;
          }

          ul {
            @include jd-flex-norm;
            gap: 2rem;

            li {
              transition: all 0.3s ease-in;

              &:hover {
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }
        }

        .nav-icons {
          @include jd-flex-norm;
          gap: 2rem;

          .icons {
            i {
              font-size: 20px;
              margin-left: 15px;
            }
          }
        }
      }
    }

    .hero-sect {
      @include k-container;
      color: $shoppy-hero-ft-txt;
      margin-top: 60px;
      position: relative;

      .hero-sect-container {
        @include jd-flex-sb;
        background-color: $shoppy-hero-ft-bg;
        border-radius: 4px;
        position: relative;

        .hero-sect-text {
          @include jd-flex-sb;
          flex-direction: column;
          align-items: start;
          width: 55%;
          margin-left: 5rem;

          .hero-sect-head2 {
            @include jd-flex-sb;
            gap: 2rem;
            font-family: $shoppy-item-ffamily;
            font-size: $shoppy-hero-sm;
          }

          .hero-sect-h1 {
            h1 {
              font-family: $shoppy-heading-family;
              font-size: $shoppy-heading;
              font-weight: 600;
              word-wrap: break-word;
              width: 400px;
            }
          }

          .hero-sect-para {
            font-family: $shoppy-item-ffamily;
            font-size: $shoppy-hero-sm;

            .hero-sect-para-span {
              &:hover {
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }
        }

        .hero-sect-toggle {
          position: absolute;
          @include jd-flex-norm;
          bottom: 30px;
          left: 50%;
          gap: 1rem;
          transform: translate(-50%, -50%);

          div {
            width: 16.67px;
            height: 16.67px;
            border-radius: 50%;
            background: #fff;
            opacity: 0.5;
            cursor: pointer;
          }

          .toggled {
            opacity: 1;
            background-color: #5ac0c0;
            width: 15px;
            height: 15px;
            border: 2.77907px solid #ffffff;
          }
        }
      }
    }
  }

  main {
    section {
      width: 100%;
      height: 100%;

      .sponsors-container {
        position: relative;
        width: 100%;
        padding-top: 90px;
        height: 100px;

        .sponsors {
          @include jd-flex-norm;
          gap: 5rem;
          position: absolute;
          bottom: -90px;
          left: 50vw;
          transform: translate(-50%, -50%);
          width: auto;

          div {
            width: 197.58px;
            height: 111.57px;
            background: #fdfffe;
            box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
            border-radius: 18.5958px;
            position: relative;
            @include jd-flex-norm;
          }
        }
      }
    }

    section {
      .explore {
        padding-top: 90px;
        margin-top: 90px;
        @include k-container;
        font-family: $shoppy-body-family;
        font-weight: 500;
        font-size: 2rem;

        .explore-head {
          @include jd-flex-sb;
          h2 {
            font-size: $shoppy-section-heading;
            font-family: $shoppy-section-heading-family;
            font-weight: 700;
          }

          span {
            font-family: $shoppy-section-heading-family;
            font-size: 21px;
            font-weight: 500;
          }
        }

        .explore-img-sect {
          @include jd-flex-sb;
          flex-direction: column;
          gap: 2rem;
          color: $shoppy-white;

          .explore-img-sect-up {
            width: 100%;
            display: grid;
            grid-template-columns: 34% 64%;
            align-items: center;
            justify-content: space-between;

            .explore-img-sect-fashion {
              background-image: url(/assets/images/short-trousers.png);
              @include k-exp-container;

              p {
                position: absolute;
                left: 2rem;
                bottom: 0rem;
              }
            }

            .explore-img-sect-electronics {
              background-image: url(/assets/images/table-gadgets.png);
              @include k-exp-container;

              p {
                position: absolute;
                left: 2rem;
                bottom: 0rem;
              }
            }
          }

          .explore-img-sect-down {
            width: 100%;
            display: grid;
            grid-template-columns: 64% 34%;
            align-items: center;
            justify-content: space-between;
            height: 427px;

            .explore-img-sect-shops {
              background-image: url(/assets/images/shops.png);
              @include k-exp-container;

              p {
                position: absolute;
                left: 2rem;
                bottom: 0rem;
              }
            }

            .explore-img-sect-furniture {
              background-image: url(/assets/images/ante-room.png);
              @include k-exp-container;

              p {
                position: absolute;
                left: 2rem;
                bottom: 0rem;
              }
            }
          }
        }
      }
    }
  }
}
