@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
}

main,
footer {
  display: block;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  text-decoration: inherit;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  border: none;
  outline: none;
  padding: 0.5rem;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Quella";
  src: url("/assets/fonts/quella-owyda.otf");
}
@font-face {
  font-family: "Galano";
  src: url("/assets/fonts/GalanoGrotesqueAlt-Regular.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  background: #fcfcfc;
}
body header {
  font-size: 14.78px;
  width: 100%;
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  body header {
    margin-bottom: 120px;
  }
}
@media (max-width: 991px) {
  body header {
    margin-bottom: 120px;
  }
}
body header nav {
  width: 100%;
}
body header nav .top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #f5f5f5;
  background-color: #1e1e1e;
  height: 48px;
}
@media (max-width: 768px) {
  body header nav .top-nav {
    font-size: 11px;
    text-align: center;
    border-bottom: #f5f5f5 1px solid;
  }
}
body header nav .top-nav span:last-child {
  margin-left: 10px;
}
@media (max-width: 768px) {
  body header nav .top-nav span:last-child {
    display: none;
  }
}
body header nav .mid-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 6rem;
  height: 56px;
}
@media (max-width: 768px) {
  body header nav .mid-nav {
    padding: 5px 1rem;
  }
}
@media (max-width: 991px) {
  body header nav .mid-nav {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body header nav .mid-nav {
    padding: 5px 2rem;
  }
}
body header nav .mid-nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 768px) {
  body header nav .mid-nav .logo {
    position: relative;
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body header nav .mid-nav .logo {
    gap: 3rem;
  }
}
body header nav .mid-nav .logo .menu {
  display: none;
}
@media (max-width: 768px) {
  body header nav .mid-nav .logo .menu {
    display: block;
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  body header nav .mid-nav .logo .menu {
    display: block;
    font-size: 36px;
  }
}
body header nav .mid-nav .logo span {
  font-size: 28px;
  font-family: "Quella", sans-serif;
}
@media (max-width: 768px) {
  body header nav .mid-nav .logo span {
    font-size: 24px;
  }
}
body header nav .mid-nav .logo label {
  position: relative;
}
@media (max-width: 768px) {
  body header nav .mid-nav .logo label {
    position: absolute;
    top: 6rem;
    left: -1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7411764706);
    width: 100vw;
  }
}
body header nav .mid-nav .logo label input {
  height: 38px;
  width: 530px;
  background: #f5f5f5;
  border: none;
  padding-left: 20px;
  border-radius: 7px;
  outline: none;
}
@media (max-width: 991px) {
  body header nav .mid-nav .logo label input {
    width: 300px;
  }
}
body header nav .mid-nav .logo label input:focus {
  outline: 1px solid rgba(128, 128, 128, 0.7411764706);
}
body header nav .mid-nav .logo label input::-moz-placeholder {
  font-size: 12px;
}
body header nav .mid-nav .logo label input::placeholder {
  font-size: 12px;
}
@media (max-width: 768px) {
  body header nav .mid-nav .logo label input {
    width: calc(100vw - 2rem);
  }
}
body header nav .mid-nav .logo label i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.7411764706);
}
body header nav .mid-nav select {
  border: 1px solid #fff;
  background-color: transparent;
  color: #1e1e1e;
}
body header nav .main-nav {
  border-top: 1px solid rgba(128, 128, 128, 0.7411764706);
  border-bottom: 1px solid rgba(128, 128, 128, 0.7411764706);
  padding: 5px 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body header nav .main-nav {
    padding: 5px 1rem;
  }
}
@media (max-width: 991px) {
  body header nav .main-nav {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body header nav .main-nav {
    padding: 5px 2rem;
  }
}
body header nav .main-nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
body header nav .main-nav .left span {
  font-weight: 700;
  font-size: 25px;
}
body header nav .main-nav .left ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  body header nav .main-nav .left ul {
    display: none;
  }
}
@media (max-width: 991px) {
  body header nav .main-nav .left ul {
    display: none;
  }
}
body header nav .main-nav .left ul li {
  transition: all 0.3s ease-in;
}
body header nav .main-nav .left ul li:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
body header nav .main-nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  body header nav .main-nav .nav-icons span {
    display: none;
  }
}
@media (max-width: 991px) {
  body header nav .main-nav .nav-icons span {
    display: none;
  }
}
@media (max-width: 768px) {
  body header nav .main-nav .nav-icons .icons {
    display: flex;
  }
}
body header nav .main-nav .nav-icons .icons i {
  font-size: 20px;
  margin-left: 15px;
}
body header .hero-sect {
  padding: 5px 5rem;
  color: #fafafa;
  margin-top: 60px;
  position: relative;
}
@media (max-width: 768px) {
  body header .hero-sect {
    padding: 5px 1rem;
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  body header .hero-sect {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body header .hero-sect {
    padding: 5px 2rem;
  }
}
body header .hero-sect .hero-sect-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 4px;
  position: relative;
}
@media (max-width: 768px) {
  body header .hero-sect .hero-sect-container {
    flex-direction: column;
    gap: 2rem;
  }
}
body header .hero-sect .hero-sect-container .hero-sect-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: 55%;
  margin-left: 5rem;
}
@media (max-width: 768px) {
  body header .hero-sect .hero-sect-container .hero-sect-text {
    margin-left: 0rem;
    width: 100%;
    align-items: center;
  }
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-head2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 22.23px;
}
@media (max-width: 768px) {
  body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-head2 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-head2 {
    font-size: 20px;
  }
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-h1 h1 {
  font-family: "Inter", sans-serif;
  font-size: 66px;
  font-weight: 600;
  word-wrap: break-word;
  width: 400px;
}
@media (max-width: 768px) {
  body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-h1 h1 {
    font-size: 24px;
    word-wrap: none;
    width: auto;
  }
}
@media (max-width: 991px) {
  body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-h1 h1 {
    font-size: 30px;
    width: 80%;
  }
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-para {
  font-family: "Poppins", sans-serif;
  font-size: 22.23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .hero-sect .hero-sect-container .hero-sect-text .hero-sect-para .hero-sect-para-span:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
body header .hero-sect .hero-sect-container .hero-sect-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: 50%;
  gap: 1rem;
  transform: translate(-50%, -50%);
}
body header .hero-sect .hero-sect-container .hero-sect-toggle div {
  width: 16.67px;
  height: 16.67px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  cursor: pointer;
}
body header .hero-sect .hero-sect-container .hero-sect-toggle .toggled {
  opacity: 1;
  background-color: #5ac0c0;
  width: 15px;
  height: 15px;
  border: 2.77907px solid #ffffff;
}
body main .sect-one {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  body main .sect-one {
    padding-top: 1rem;
    padding-bottom: 7rem;
  }
}
body main .sect-one .sponsors-container {
  position: relative;
  width: 100%;
  padding-top: 90px;
  height: 100px;
}
@media (max-width: 768px) {
  body main .sect-one .sponsors-container {
    padding: 5px 1rem;
    padding-top: 0px;
  }
}
body main .sect-one .sponsors-container .sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: absolute;
  bottom: -90px;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: auto;
}
@media (max-width: 768px) {
  body main .sect-one .sponsors-container .sponsors {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    transform: none;
    left: 0rem;
    bottom: 0rem;
  }
}
body main .sect-one .sponsors-container .sponsors div {
  width: 197.58px;
  height: 111.57px;
  background: #fdfffe;
  box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
  border-radius: 18.5958px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .sect-two {
  padding-top: 90px;
}
@media (max-width: 768px) {
  body main .sect-two {
    padding-bottom: 2rem;
  }
}
body main .sect-two .explore {
  padding-top: 90px;
  margin-top: 90px;
  padding: 5px 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
@media (max-width: 768px) {
  body main .sect-two .explore {
    padding: 5px 1rem;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  body main .sect-two .explore {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-two .explore {
    padding: 5px 2rem;
  }
}
body main .sect-two .explore .explore-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
body main .sect-two .explore .explore-head h2 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1e1e1e;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-head h2 {
    font-size: 28px;
  }
}
body main .sect-two .explore .explore-head span {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: #5ac0c0;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-head span {
    font-size: 18px;
  }
}
body main .sect-two .explore .explore-img-sect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect {
    gap: 2rem;
  }
}
@media (max-width: 991px) {
  body main .sect-two .explore .explore-img-sect {
    gap: 1rem;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-up {
  width: 100%;
  display: grid;
  grid-template-columns: 34% 64%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-up {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-up {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-fashion {
  background-image: url(/assets/images/short-trousers.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-fashion {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-fashion p {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-electronics {
  background-image: url(/assets/images/table-gadgets.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-electronics {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 991px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-electronics {
    background-size: cover;
    background-position-x: -90px;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-up .explore-img-sect-electronics p {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-down {
  width: 100%;
  display: grid;
  grid-template-columns: 64% 34%;
  align-items: center;
  justify-content: space-between;
  height: 427px;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-down {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-down {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-shops {
  background-image: url(/assets/images/shops.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-shops {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-shops p {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-furniture {
  background-image: url(/assets/images/ante-room.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 768px) {
  body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-furniture {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}
body main .sect-two .explore .explore-img-sect .explore-img-sect-down .explore-img-sect-furniture p {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
body main .sect-three {
  padding-top: 6rem;
  color: #1e1e1e;
}
body main .sect-three .sect-three-container {
  padding: 5px 5rem;
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container {
    flex-direction: column;
    padding: 5px 1rem;
    text-align: center;
  }
}
@media (max-width: 991px) {
  body main .sect-three .sect-three-container {
    padding: 5px 2rem;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1290px) {
  body main .sect-three .sect-three-container {
    padding: 5px 2rem;
    flex-direction: column;
    text-align: center;
  }
}
body main .sect-three .sect-three-container .sect-three-head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  body main .sect-three .sect-three-container .sect-three-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1290px) {
  body main .sect-three .sect-three-container .sect-three-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
body main .sect-three .sect-three-container .sect-three-head h3 {
  margin-top: 0px;
  font-size: 31.67px;
}
body main .sect-three .sect-three-container .sect-three-head p {
  margin-top: 0px;
  color: rgba(30, 30, 30, 0.5);
  font-weight: 500;
  font-size: 17.8128px;
  line-height: 27px;
  width: 50%;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-head p {
    width: 100%;
  }
}
@media (max-width: 991px) {
  body main .sect-three .sect-three-container .sect-three-head p {
    width: 100%;
  }
}
@media (max-width: 1600px) {
  body main .sect-three .sect-three-container .sect-three-head p {
    width: 100%;
  }
}
body main .sect-three .sect-three-container .sect-three-head button {
  width: 167.15px;
  height: 50.75px;
  background: #c1dcdc;
  border-radius: 7.9168px;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
body main .sect-three .sect-three-container .sect-three-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 278px);
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-img {
    grid-template-columns: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 991px) {
  body main .sect-three .sect-three-container .sect-three-img {
    grid-template-columns: repeat(2, 278px);
    gap: 1rem;
    padding: 0px 4rem;
  }
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 {
    text-align: center;
    margin-left: 1rem;
    margin: auto;
  }
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .sect-three-img1 {
  background-image: url(/assets/images/male-trouser.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 278px;
  height: 338px;
  border-radius: 12px;
  position: relative;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .sect-three-img1 .side-btn {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 50%;
  border: none;
  border-radius: 3px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: 0.3s;
  left: -24px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .sect-three-img1 .hidden-btn {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 50%;
  border: none;
  border-radius: 3px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: 0.3s;
  right: -24px;
  display: none;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .sect-three-img1 .hidden-btn {
    display: block;
  }
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
  margin: 10px 0px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .current-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .old-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: rgba(30, 30, 30, 0.5019607843);
  text-decoration: line-through;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt1 .discount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: #388e3c;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 {
    display: none;
  }
}
@media (max-width: 991px) {
  body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 {
    display: none;
  }
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 .sect-three-img2 {
  background-image: url(/assets/images/girl-yale.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 278px;
  height: 338px;
  border-radius: 12px;
  position: relative;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
  margin: 10px 0px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 .current-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 .old-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: rgba(30, 30, 30, 0.5019607843);
  text-decoration: line-through;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt2 .discount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: #388e3c;
}
@media (max-width: 768px) {
  body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 {
    display: none;
  }
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 .sect-three-img3 {
  background-image: url(/assets/images/girl-shorts.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 278px;
  height: 338px;
  border-radius: 12px;
  position: relative;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 .sect-three-img3 button {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 50%;
  border: none;
  border-radius: 3px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: 0.3s;
  right: -24px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
  margin: 10px 0px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 .current-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 .old-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: rgba(30, 30, 30, 0.5019607843);
  text-decoration: line-through;
}
body main .sect-three .sect-three-container .sect-three-img .sect-three-img-pt3 .discount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
  color: #388e3c;
}
body main .sect-four {
  margin-top: 9rem;
  position: relative;
  padding: 5px 5rem;
}
@media (max-width: 768px) {
  body main .sect-four {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  body main .sect-four {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-four {
    padding: 5px 2rem;
  }
}
body main .sect-four .sect-four-container {
  width: 100%;
  position: relative;
}
body main .sect-four .sect-four-container .slanted-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 126px;
  background: linear-gradient(70deg, #c1dcdc 50%, #02a0a0 50%);
  background-size: 130% 100%;
  border-radius: 8.4px;
}
@media (max-width: 768px) {
  body main .sect-four .sect-four-container .slanted-bg {
    position: relative;
    background-size: 110% 100%;
    border-radius: 0px;
  }
}
body main .sect-four .sect-four-container .slanted-bg div {
  padding: 0px 2rem;
  padding-bottom: 0px;
}
@media (max-width: 768px) {
  body main .sect-four .sect-four-container .slanted-bg div {
    padding: 0.5rem;
  }
}
body main .sect-four .sect-four-container .slanted-bg div h3 {
  font-size: 25.2px;
  color: #212121;
  margin-bottom: 2.7px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  body main .sect-four .sect-four-container .slanted-bg div h3 {
    font-size: 18px;
  }
}
body main .sect-four .sect-four-container .slanted-bg div p {
  font-size: 16.8px;
  color: #212121;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  body main .sect-four .sect-four-container .slanted-bg div p {
    font-size: 12px;
  }
}
body main .sect-four .sect-four-container .slanted-bg div button {
  color: #ffffff;
  background-color: #1e1e1e;
  width: 127.05px;
  height: 42px;
  border: none;
  border-radius: 6.3px;
  font-family: "Inter", sans-serif;
}
body main .sect-five {
  margin-top: 7rem;
}
body main .sect-five .sect-five-container {
  padding: 5px 5rem;
  padding: 0rem 7rem;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container {
    padding: 5px 1rem;
    padding-bottom: 16rem;
  }
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-five .sect-five-container {
    padding: 5px 2rem;
  }
}
body main .sect-five .sect-five-container .sect-five-head-sm {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body main .sect-five .sect-five-container .sect-five-head-sm .sect-five-head-sm-bar {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #02a0a0;
}
body main .sect-five .sect-five-container .sect-five-head-sm .sect-five-head-sm-txt {
  font-size: 1rem;
  color: #02a0a0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
body main .sect-five .sect-five-container .sect-five-head-lg {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 60px;
}
body main .sect-five .sect-five-container .sect-five-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: 600px;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery {
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery {
    gap: 1rem;
    height: 400px;
  }
}
@media (max-width: 1290px) {
  body main .sect-five .sect-five-container .sect-five-gallery {
    gap: 1rem;
    height: 450px;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: #000000;
  border-radius: 4px;
  padding: 70px 30px 0px 30px;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 {
  background-image: url(/assets/images/ps-5.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  background-position: center;
  color: #fafafa;
  position: relative;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 {
    height: 200px;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div {
    left: 0rem;
    bottom: 1rem;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div h3 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 70%;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div span {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-one .sect-five-ps5 div span:hover {
  text-decoration: underline;
  cursor: pointer;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two {
    gap: 1rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two {
    gap: 1rem;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up {
  background: #0d0d0d;
  color: #fafafa;
  height: 100%;
  position: relative;
  border-radius: 4px;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up {
    height: 200px;
    padding-right: 0px;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-lady-in-hat {
  background-image: url(/assets/images/woman-wearing-hat.png);
  width: 70%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-lady-in-hat {
    height: 200px;
    background-position: right;
    background-position-y: bottom;
  }
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-lady-in-hat {
    background-position-y: bottom;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection {
    left: 1rem;
    bottom: 1rem;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection h3 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 70%;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection span {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-up .sect-five-wm-collection span:hover {
  text-decoration: underline;
  cursor: pointer;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw {
    gap: 1rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw {
    gap: 1rem;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one {
  background: #1e1e1e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt {
  position: absolute;
  color: #fafafa;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 991px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt {
    left: 1rem;
    bottom: 1rem;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt h3 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt span {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-txt span:hover {
  text-decoration: underline;
  cursor: pointer;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-png {
  background-image: url(assets/images/speakers.png);
  width: calc(100% - 80px);
  height: calc(100% - 2rem);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-one .sect-five-speaker-png {
    height: 200px;
  }
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-two {
  background: #1e1e1e;
  padding: 35px;
  border-radius: 4px;
}
body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-two .sect-five-perfume-png {
  background-image: url(assets/images/perfume.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 768px) {
  body main .sect-five .sect-five-container .sect-five-gallery .sect-five-gal-two .sect-five-gal-two-dw .sect-five-gal-btm-two .sect-five-perfume-png {
    height: 150px;
  }
}
body main .sect-six {
  margin-top: 9rem;
  margin-bottom: 9rem;
  padding: 5px 5rem;
}
@media (max-width: 768px) {
  body main .sect-six {
    padding: 5px 1rem;
  }
}
@media (max-width: 991px) {
  body main .sect-six {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body main .sect-six {
    padding: 5px 2rem;
  }
}
body main .sect-six .sect-six-container {
  border: #dee2e7 1px solid;
  border-radius: 6px;
  background: #ffffff;
  padding: 21px;
}
body main .sect-six .sect-six-container .sect-six-head {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 21.0169px;
  margin-bottom: 1rem;
}
body main .sect-six .sect-six-container .sect-six-devices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  body main .sect-six .sect-six-container .sect-six-devices {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }
}
body main .sect-six .sect-six-container .sect-six-devices div {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
body main .sect-six .sect-six-container .sect-six-devices div .ipad {
  background: #eeeeee;
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .sect-six .sect-six-container .sect-six-devices div div h3 {
  font-weight: 600;
  font-size: 18.9153px;
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
}
body main .sect-six .sect-six-container .sect-six-devices div div p {
  font-weight: 400;
  font-size: 16.8136px;
  color: #606060;
  font-family: "Poppins", sans-serif;
  width: 70%;
}
body main .sect-six .sect-six-container .sect-six-devices div div button {
  background: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  width: 164.7px;
  height: 44.19px;
  color: #2283dc;
  transition: 0.3s;
  font-weight: 500;
  font-size: 16.8136px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  cursor: pointer;
}
body main .sect-six .sect-six-container .sect-six-devices div div button:hover {
  background: #eeeeee;
}
body main .sect-six .sect-six-container .sect-six-devices div div button i {
  font-size: 24px;
}
body main .sect-six .sect-six-container .sect-six-devices div .iphone {
  background: #eeeeee;
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .sect-six .sect-six-container .sect-six-devices div .iwatch {
  background: #eeeeee;
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .sect-six .sect-six-container .sect-six-devices div .macbook {
  background: #eeeeee;
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer {
  background: #000;
  color: #fafafa;
}
body footer .ft-container {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  font-family: #fafafa;
}
body footer .ft-container .ft-sect-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 45px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one {
    align-items: start;
    padding: 5px 1rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-one {
    padding: 5px 2rem;
    padding-bottom: 45px;
  }
}
@media (max-width: 1290px) {
  body footer .ft-container .ft-sect-one {
    padding: 5px 2rem;
    padding-bottom: 45px;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt {
    gap: 0px;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt h3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt h3 {
    font-size: 16;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt1 .ft-sect-one-pt1-txt p {
    font-size: 14px;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt {
    gap: 0px;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt h3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt h3 {
    font-size: 16px;
  }
}
body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-one .ft-sect-one-pt2 .ft-sect-one-pt2-txt p {
    font-size: 14px;
  }
}
body footer .ft-container .ft-sect-two {
  display: flex;
  justify-content: space-between;
  padding: 5px 5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-two {
    padding: 5px 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0px;
    position: relative;
    padding-bottom: 200px;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-two {
    padding: 5px 2rem;
    padding-bottom: 200px;
    position: relative;
    gap: 1rem;
  }
}
@media (max-width: 1290px) {
  body footer .ft-container .ft-sect-two {
    padding: 5px 2rem;
    padding-bottom: 70px;
    gap: 1rem;
  }
}
body footer .ft-container .ft-sect-two ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-two ul {
    margin-bottom: 60px;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-two ul {
    margin-bottom: 60px;
  }
}
body footer .ft-container .ft-sect-two ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
body footer .ft-container .ft-sect-two ul .ft-sec-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 1rem;
}
body footer .ft-container .ft-sect-two ul .ft-social-links-icon {
  font-size: 30px;
  font-weight: 200;
  display: flex;
  gap: 2rem;
}
body footer .ft-container .ft-sect-two ul .ft-for-mobile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-two ul .ft-for-mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-two ul .ft-for-mobile {
    display: none;
  }
}
body footer .ft-container .ft-sect-two ul .ft-for-mobile div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-two .ft-contact {
    position: absolute;
    bottom: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    right: 0vw;
    text-align: center;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  body footer .ft-container .ft-sect-two .ft-contact .ft-sec-head {
    display: none;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-two .ft-contact {
    padding: 5px 2rem;
    position: absolute;
    bottom: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    right: 0vw;
    text-align: center;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-two .ft-contact .ft-sec-head {
    display: none;
  }
}
body footer .ft-container .ft-sect-three {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-three {
    padding: 5px 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  body footer .ft-container .ft-sect-three {
    padding: 5px 2rem;
  }
}
@media (max-width: 1290px) {
  body footer .ft-container .ft-sect-three {
    padding: 5px 2rem;
  }
}
body footer .ft-container .ft-sect-three .ft-pay-opt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-three .ft-pay-opt {
    justify-content: center;
    align-items: center;
  }
}
body footer .ft-container .ft-sect-three .ft-pay-opt h4 {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #cfcfcf;
}
body footer .ft-container .ft-sect-three .ft-pay-opt div {
  display: flex;
  gap: 20px;
}
body footer .ft-container .ft-sect-three .ft-copyright {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cfcfcf;
}
@media (max-width: 768px) {
  body footer .ft-container .ft-sect-three .ft-copyright {
    text-align: center;
    font-size: 14px;
    position: relative;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown .dropdown-button {
  background-color: #f9f9f9;
  border: none;
  color: #333;
  padding: 2px;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  list-style-type: none;
  padding: 0;
  z-index: 9999;
  border-radius: 4px;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.3s ease-in;
  font-size: 16px;
}
.dropdown .dropdown-menu li:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.dropdown .dropdown-menu li a {
  color: #333;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */