@mixin dark-btn {
  width: 127px;
  height: 42px;
  background-color: $shoppy-dark-btn;
  color: $shoppy-off-white;
}

@mixin light-btn {
  width: 172px;
  height: 44px;
  background-color: transparent;
  color: $shoppy-blue;
}

@mixin jd-flex-norm {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin jd-flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin jd-container {
  padding: 5px 6rem;
}

@mixin k-container {
  padding: 5px 7rem;
}

@mixin k-exp-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  border-radius: 5px;
  position: relative;
}

@mixin k-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 337px;
  border-radius: 12px;
  position: relative;
}

@mixin k-p-bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
}

@mixin k-cur-span-all {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7324px;
}

@mixin k-cur-span-cancel {
  color: #1e1e1e80;
  text-decoration: line-through;
}

@mixin k-cur-span-off {
  color: #388e3c;
}

@mixin k-img-btn {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 50%;
  border: none;
  border-radius: 3px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

@mixin k-bg-img2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
