@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");

@font-face {
  font-family: "Quella";
  src: url("/assets/fonts/quella-owyda.otf");
}

@font-face {
  font-family: "Galano";
  src: url("/assets/fonts/GalanoGrotesqueAlt-Regular.ttf");
}

$shoppy-logo: 28px;
$shoppy-logo-family: "Quella", sans-serif;

$shoppy-heading: 66px;
$shoppy-heading-family: "Inter", sans-serif;

$shoppy-section-heading: 64px;
$shoppy-section-heading-family: "Poppins", sans-serif;

$shoppy-item-ff: 32px;
$shoppy-item-ffamily: "Poppins", sans-serif;

$shoppy-body-text: 14.78px;
$shoppy-body-family: "Poppins", sans-serif;

$shoppy-CTA-htext: 25.2px;
$shoppy-CTA-text: 16.8px;
$shoppy-CTA-family: "Inter", sans-serif;

$shoppy-hero-sm: 22.23px;
